@import "./variables/extend";
@import "./variables/variable";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.logo {
    width: 80px;
    height: 80px;
}

.containerSection1{
    padding: 20px;
    margin: 10px;
}

h1{
    @include titulo-regala-boré
}

.giftcard{
    color:$gift-card;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    p{color: rgb(0, 0, 0);}
    
   
}